/*
Style sheet for global variables and definitions - like borders, shadows and colors
*/

// region == Color palette ==
// this color palette is taken from WMUI design guidelines
$color-base0:    #000;    // = HSB 0°, 0%, 0%
$color-base10:   #222;    // = HSB 0°, 0%, 13%
$color-base20:   #54595d; // = HSB 207°, 10%, 36%; WCAG 2.0 level AAA 7.09:1 contrast ratio on `#fff`
$color-base30:   #72777d; // = HSB 210°, 9%, 49%; WCAG 2.0 level AA at 4.52:1 contrast ratio on `#fff`
$color-base50:   #a2a9b1; // = HSB 212°, 8%, 69%
$color-base70:   #c8ccd1; // = HSB 213°, 4%, 82%
$color-base80:   #eaecf0; // = HSB 220°, 3%, 94%
$color-base90:   #f8f9fa; // = HSB 210°, 1%, 98%
$color-base100:  #fff;    // = HSB 0°, 0%, 100%

$color-accent30: #2a4b8d; // = HSB 220°, 70%, 55%
$color-accent50: #36c;    // = HSB 220°, 75%, 80%
$color-accent90: #eaf3ff; // = HSB 214°, 8%, 100%

$color-red30:    #b32424; // = HSB 360°, 80%, 70%
$color-red50:    #d33;    // = HSB 360°, 77%, 87%
$color-red90:    #fee7e6; // = HSB 3°, 9%, 100%

$color-yellow30: #ac6600; // = HSB 36°, 100%, 67%
$color-yellow50: #fc3;    // = HSB 45°, 80%, 100%
$color-yellow90: #fef6e7; // = HSB 39°, 9%, 100%

$color-green30:  #14866d; // = HSB 167°, 85%, 53%
$color-green50:  #00af89; // = HSB 167°, 100%, 69%
$color-green90:  #d5fdf4; // = HSB 166°, 16%, 99%

// these are our own colors
$color-brown30: #552200;
$color-brown50: #983d00;
$color-brown90: #ecc5ab;
// endregion

// region == standard border styles ==
@mixin mixin-focus($color) {
    box-shadow: 0 0 0 1px $color;
}
// endregion

// region == Standard dimensions ==
$page-max-width: 1000px;
$page-min-width: 30rem;

$box-shadow-base: inset 0 -0.05rem 0.5rem -0.45rem $color-base0;
// endregion

// region == Helpers ==

// make element only visible for screen reader
// (source: https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css)
@mixin sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}
// endregion