<div class="section">
  <h2>Filter entities</h2>
  <span class="description">
        <p>
            Choose entities to include in the dump. An entity is included if it matches at least one filter.
        </p>
        <p class="slider">
            <label>Sampling:</label>
            <input type="range" min="0" max="100" value="100" step="5" id="sampling-prop">
            <span id="sampling-desc"></span>
        </p>
    </span>

  <div id="entity-match-all" class="card card-default">
    <div class="card-main">
      No filters added. All entities are included.
    </div>
  </div>

  <div id="entity-filters">
  </div>

  <div class="controls-add">
    <a id="add-basic-filter" class="link-button" href="#">
      <img src="{{resources.img/icons/add}}">
      Add basic filter
    </a>
  </div>
</div>

<div class="section">
  <h2>Filter statements</h2>
  <span class="description">
        Choose how statements are exported. These rules are applied to all matched entities.
    </span>

  <div id="statement-filters">
  </div>

  <div class="controls-add">
    <a id="add-statement-filter" class="link-button" href="#">
      <img src="{{resources.img/icons/add}}">
      Add custom rule
    </a>
  </div>
</div>

<div class="section">
  <h2>Additional settings</h2>
  <div id="additional-settings"></div>
</div>

<div class="section">
  <h2>Dump metadata</h2>
  <div id="dump-metadata"></div>
</div>

<button id="submit">Create dump</button>