{% extends "base.html" %}

{% block content %}
<h2>Server status</h2>

{% if not runs_in_progress and not valid_next_run %}
<p class="error-message">
    ERROR: The processing of the queue appears to have halted. Something is wrong with the backend.
</p>
{% endif %}

{% if runs_in_progress %}
<p>
{{runs_in_progress}} workers currently running. Queue entries will be processed after the current run has finished.
</p>
{% else %}
<p>
The server queue contains dump requests for which processing hasn't started yet.
After a dump is submitted, the server waits at least 20 minutes before starting to process this dump.
This helps to batch requests, so that multiple requests for dumps submitted in succession can be processed together.
</p>

<p>
There is also a maximum wait time: no dump request has to wait longer than 60 minutes, even if new dump requests are submitted continously.
</p>
{% endif %}

<table>
    <tr><th>Queue length</th><td>{{queue_length}}</td></tr>
    <tr><th>Oldest queue entry creation</th><td>{{queue_max_age|timedelta}} ago</td></tr>
    <tr><th>Newest queue entry creation</th><td>{{queue_min_age|timedelta}} ago</td></tr>
    <tr><th>Oldest unfinished dump creation</th><td>{{unfinished_max_age|timedelta}} ago</td></tr>
    <tr><th>Newest unfinished dump creation</th><td>{{unfinished_min_age|timedelta}} ago</td></tr>
    {% if valid_next_run %}
    <tr><th>Minimum wait time until processing starts</th><td>{{next_run_min|timedelta}}</td></tr>
    <tr><th>Maximum wait time until processing starts</th><td>{{next_run_max|timedelta}}</td></tr>
    {% endif %}
</table>

{% endblock %}
